 .question1, .question2, .question3, .results, .output, .submitform {
  display: none;
}


h1 {
  color: blue;
  text-align: center;
  font-weight: bold;
}


p {
  font-family: sans-serif;
  line-height: 30px;

}


ul {
  font-size: 20px;
  line-height: 30px;
  text-align: left;
}

.container {
  margin: 0 auto;
  border: 2px solid green;
  padding: 4px;
  text-align: center;
}

/* note: move container to the right a bit */
/* https://github.com/sadeghazizi112/second-project-2.git */
